<nav>
  <div class="webpageTitle">
    <a href="/"><h1>Home Page</h1></a>
    <p>A great website for sigmas</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create Blog</a></li>
  </ul>
</nav>
