<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        obcaecati sint esse eum dolores nesciunt atque aut quos alias, mollitia
        rem facere ut, laboriosam quaerat, quae cumque sunt? A, tempora?
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
